$main-base-color: rgb(255, 0, 221);
//$highlighting-color: white;
$focus-color: rgb(208, 255, 0);
$focus-background-color: rgb(255, 152, 241);

$background-color: rgb(255, 251, 0);
$border-color: #212529;
$highlighting-color: rgb(255, 145, 0);

$danger-color: #be392c;
$success-color: #02993a;
$warning-color: #ffb800;
$info-color: #009cff;

//---- new Colors ----

$main-white: #fcfcfc;
$main-blue: #110057;
$main-orange: #ff5c00;
$main-light-orange: #f77b35;
$normal-blue: #70cff8;
$light-blue: #89d6f9;
$superlight-blue: #a2ddfb;


$button-color: #f0eedf;
