h5,
h6, 
p, 
a,
label,
input,
button,
textarea {
    font-family:  Consolas, "Lucida Console", Menlo, monospace
}

label {
    font-weight: bold;
}

.text-wrapper{
    padding: 30px;
    padding-top: 50px;
}